In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score, KFold
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
import xgboost as xgb
plt.style.use('seaborn-bright')
#Read the dataset and print the top 5 elements of the dataset
data = pd.read_csv('train_data.csv')
data.head(5)

C:\Users\HAnu\Anaconda3\lib\site-packages\dask\dataframe\utils.py:13: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

         date  hour  demand
0  2018-08-18     9      91
1  2018-08-18    10      21
2  2018-08-18    13      23
3  2018-08-18    14     104
4  2018-08-18    15      81

In [2]:
data['Month'] = data.date.astype(str).str[5:7].astype(float)
data['Year'] = data.date.astype(str).str[0:4].astype(float)
data['Day'] = data.date.astype(str).str[8:].astype(float)

data.drop(['date'], axis=1, inplace=True)
data.replace([np.inf, -np.inf], np.nan, inplace=True)
data.head(5)

   hour  demand  Month    Year   Day
0     9      91    8.0  2018.0  18.0
1    10      21    8.0  2018.0  18.0
2    13      23    8.0  2018.0  18.0
3    14     104    8.0  2018.0  18.0
4    15      81    8.0  2018.0  18.0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18247 entries, 0 to 18246
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   hour    18247 non-null  int64
 1   demand  18247 non-null  int64
 2   Month   18247 non-null  float64
 3   Year    18247 non-null  float64
 4   Day     18247 non-null  float64
dtypes: float64(3), int64(2)
memory usage: 712.9 KB

In [4]:
#y, X = data.loc[:,'demand'].values, data.loc[:,['Month', 'Year','Day','hour']].values
y, X = data.loc[:,'demand'].values, data.loc[:,['Month', 'Day','hour']].values
data_dmatrix = xgb.DMatrix(X,label=y)

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

In [6]:
from sklearn.neighbors import KNeighborsClassifier
model=KNeighborsClassifier(n_neighbors=5)
model.fit(X_train, y_train)
predictions=model.predict(X_test)
predictions = model.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test, predictions))
print("RMSE: %f" % (rmse))

RMSE: 56.346676

In [8]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier(max_depth=15,max_features=3,random_state=15)
model.fit(X_train, y_train)
predictions=model.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test, predictions))
print("RMSE: %f" % (rmse))

RMSE: 51.219798

In [9]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(max_depth=20,max_features=3,random_state=10,
                             n_estimators=20, criterion='gini')
model.fit(X_train, y_train)
predictions=model.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test, predictions))
print("RMSE: %f" % (rmse))

RMSE: 50.562764

In [10]:
model.feature_importances_

array([0.29475359, 0.44170064, 0.26354577])