In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
train_data=pd.read_csv('updated_train_data.csv',parse_dates=[['date','hour']])
test_data=pd.read_csv('test_data.csv',parse_dates=[['date','hour']])

In [3]:
train_data['date_hour']=pd.to_datetime(train_data['date_hour'],format='%Y-%m-%d  %H')
test_data['date_hour']=pd.to_datetime(test_data['date_hour'],format='%Y-%m-%d  %H')

In [4]:
train_data.set_index('date_hour',inplace=True)
test_data.set_index('date_hour',inplace=True)
train_data=train_data.values.astype('int')

In [5]:
train_data.size,len(test_data)

(18247, 7650)

In [6]:
from statsmodels.tsa.arima.model import ARIMA

In [22]:
model_arima=ARIMA(train_data,order=(1,0,0))
model_arima_fit=model_arima.fit()
print(model_arima_fit.aic)

183550.4607834764

In [23]:
predictions=model_arima_fit.forecast(steps=7650)
predictions

array([79.06654282, 76.33113777, 75.07007857, ..., 73.99145085,
       73.99145085, 73.99145085])

In [24]:
sub=pd.read_csv('submission_file.csv')
sub.head()

         date  hour  demand
0  2021-03-01     0       0
1  2021-03-01     1       0
2  2021-03-01     2       0
3  2021-03-01     3       0
4  2021-03-01     5       0

In [25]:
sub['demand']=predictions

In [26]:
sub['demand']=sub['demand'].astype('int')

In [27]:
sub.head()

         date  hour  demand
0  2021-03-01     0      79
1  2021-03-01     1      76
2  2021-03-01     2      75
3  2021-03-01     3      74
4  2021-03-01     5      74

In [28]:
sub.to_csv('submission_ARIMA_2.csv',index=False)